@model AppsGenerator.Models.ResetPasswordRequestViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_clientLayout.cshtml";
}


@using (Html.BeginForm("ResetPasswordRequest", "Member",null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h2>Reset Password</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-offset-5 col-md-8">
                    <input type="submit" value="Reset Password" class="btn btn-primary" />

                    <a href="/Login" class="btn btn-default">
                        Cancel
                    </a>

                </div>
            </div>
            <div class="text-center">
                @Html.ValidationMessage("EmailNotFound")
            </div>

        </div>
    </div>
}